.content {
	background-color: var(--white);
	border-radius: 0px 60px 60px 0px;
	padding: 30px 40px;
	overflow: auto;

	&__header {
		padding-top: 60px;
	}

	&__title {
		margin-bottom: 4px;
		color: var(--text-primary);
		font-family: Lato;
		font-size: 43px;
		font-weight: 600;
	}

	&__subtitle {
		margin-bottom: 40px;
		color: var(--gray);
		font-family: Lato;
		font-size: 16.056px;
		font-weight: 400;
	}

	&__inner {
		display: grid;
		grid-template-columns: 600px 700px;
	}

	&__left {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	&__right {
	}
}
