.content {
	background-color: var(--white);
	border-radius: 0px 60px 60px 0px;
	padding: 30px 40px;

	&__header {
		padding-top: 60px;
	}

	&__title {
		margin-bottom: 4px;
		color: var(--text-primary);
		font-family: Suprema;
		font-size: 43px;
		font-weight: 600;
	}

	&__subtitle {
		color: var(--gray);
		font-family: Suprema;
		font-size: 16.056px;
		font-weight: 400;
	}

	&__inner {
	}

	&__left {
	}

	&__right {
	}
}
