<section class="goals">
	<div class="goals__header">
		<h3 class="goals__title">Goals</h3>
		@include('../button-add/button-add.html')
	</div>
	<div class="goals__cards">
		<div class="swiper goals__swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="goals__card goal-card card">
						<div class="goal-card__header">
							<div class="goal-card__amount">$550</div>
							<div class="goal-card__date">12/20/20</div>
						</div>
						<div class="goal-card__footer">
							<div data-icon="mountain" class="goal-card__icon"></div>
							<div class="goal-card__type">Holidays</div>
						</div>
					</div>
				</div>

				<div class="swiper-slide">
					<div class="goals__card goal-card card">
						<div class="goal-card__header">
							<div class="goal-card__amount">$200</div>
							<div class="goal-card__date">12/20/20</div>
						</div>
						<div class="goal-card__footer">
							<div data-icon="brush" class="goal-card__icon"></div>
							<div class="goal-card__type">Renovation</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="goals__card goal-card card">
						<div class="goal-card__header">
							<div class="goal-card__amount">$820</div>
							<div class="goal-card__date">12/20/20</div>
						</div>
						<div class="goal-card__footer">
							<div data-icon="gamepad" class="goal-card__icon"></div>
							<div class="goal-card__type">Xbox</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="goals__card goal-card card">
						<div class="goal-card__header">
							<div class="goal-card__amount">$550</div>
							<div class="goal-card__date">12/20/20</div>
						</div>
						<div class="goal-card__footer">
							<div data-icon="mountain" class="goal-card__icon"></div>
							<div class="goal-card__type">Holidays</div>
						</div>
					</div>
				</div>
			</div>

			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
	</div>
</section>
