<div class="debit-card">
	<div class="debit-card__inner">
		<div>
			<div class="debit-card__issued">cloudcash</div>
			<div class="debit-card__status">premium account</div>
		</div>
		<div class="debit-card__body">
			<div class="debit-card__numbers">
				<div class="debit-card__number">5789</div>
				<div class="debit-card__number">* * * *</div>
				<div class="debit-card__number">* * * *</div>
				<div class="debit-card__number">2847</div>
			</div>
		</div>
		<div class="debit-card__footer">
			<div>
				<div class="debit-card__key">Card holder</div>
				<div class="debit-card__value">Mike Smith</div>
			</div>
			<div>
				<div class="debit-card__key">Expire date</div>
				<div class="debit-card__value">06/21</div>
			</div>
		</div>
	</div>
</div>
