<section class="transaction card">
	<h3 class="transaction__title">Transaction history</h3>
	<div class="table">
		<div class="table__head">
			<div class="table__row table__grid">
				<div class="table__col">
					<span class="transaction__table-title">Reciever</span>
				</div>
				<div class="table__col">
					<span class="transaction__table-title">Type</span>
				</div>
				<div class="table__col">
					<span class="transaction__table-title">Date</span>
				</div>
				<div class="table__col">
					<span class="transaction__table-title">Amount</span>
				</div>
			</div>
		</div>
		<div class="table__body">
			<div class="table__row table__grid">
				<div class="table__col">
					<div class="transaction__type">
						<div class="transaction__icon-wrapper">
							<svg class="transaction__icon">
								<use href="./assets/img/svg/sprite.svg#cart"></use>
							</svg>
						</div>
						<div class="transaction__from">Tesco Market</div>
					</div>
				</div>
				<div class="table__col">
					<span class="transaction__text">Shopping</span>
				</div>
				<div class="table__col">
					<span class="transaction__text">13 Dec 2020</span>
				</div>
				<div class="table__col">
					<span class="transaction__amount">$75.67</span>
				</div>
			</div>
			<!-- 2 -->
			<div class="table__row table__grid">
				<div class="table__col">
					<div class="transaction__type">
						<div class="transaction__icon-wrapper">
							<svg class="transaction__icon">
								<use href="./assets/img/svg/sprite.svg#bus"></use>
							</svg>
						</div>
						<div class="transaction__from">ElectroMen Market</div>
					</div>
				</div>
				<div class="table__col">
					<span class="transaction__text">Shopping</span>
				</div>
				<div class="table__col">
					<span class="transaction__text">14 Dec 2020</span>
				</div>
				<div class="table__col">
					<span class="transaction__amount">$250.00</span>
				</div>
			</div>
			<!-- 3 -->
			<div class="table__row table__grid">
				<div class="table__col">
					<div class="transaction__type">
						<div class="transaction__icon-wrapper">
							<svg class="transaction__icon">
								<use href="./assets/img/svg/sprite.svg#leaf"></use>
							</svg>
						</div>
						<div class="transaction__from">Fiorgio Restaurant</div>
					</div>
				</div>
				<div class="table__col">
					<span class="transaction__text">Food</span>
				</div>
				<div class="table__col">
					<span class="transaction__text">07 Dec 2020</span>
				</div>
				<div class="table__col">
					<span class="transaction__amount">$19.50</span>
				</div>
			</div>
			<!-- 4 -->
			<div class="table__row table__grid">
				<div class="table__col">
					<div class="transaction__type">
						<div class="transaction__icon-wrapper">
							<svg class="transaction__icon">
								<use href="./assets/img/svg/sprite.svg#user"></use>
							</svg>
						</div>
						<div class="transaction__from">John Mathew Kayne</div>
					</div>
				</div>
				<div class="table__col">
					<span class="transaction__text">Sport</span>
				</div>
				<div class="table__col">
					<span class="transaction__text">06 Dec 2020</span>
				</div>
				<div class="table__col">
					<span class="transaction__amount">$350</span>
				</div>
			</div>
			<!-- 5 -->
			<div class="table__row table__grid">
				<div class="table__col">
					<div class="transaction__type">
						<div class="transaction__icon-wrapper">
							<svg class="transaction__icon">
								<use href="./assets/img/svg/sprite.svg#user"></use>
							</svg>
						</div>
						<div class="transaction__from">Ann Marlin</div>
					</div>
				</div>
				<div class="table__col">
					<span class="transaction__text">Shopping</span>
				</div>
				<div class="table__col">
					<span class="transaction__text">31 Nov 2020</span>
				</div>
				<div class="table__col">
					<span class="transaction__amount">$430</span>
				</div>
			</div>
		</div>
	</div>
</section>
