.menu {
	display: flex;
	flex-direction: column;
	gap: 5px;

	&__btn {
		position: relative;
		width: 100%;
		padding: 5px 10px;
		display: flex;
		align-items: center;
		gap: 18px;
		cursor: pointer;
		border-radius: 4px;

		&:focus-visible {
			outline: 1px solid var(--primary);
		}

		&::before {
			content: "";
			position: absolute;
			background-color: #f0f7ff;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			scale: 0 1;
			transform-origin: center left;
			transition: scale 0.3s ease-in-out;
			border-radius: inherit;
		}

		@include hover {
			&::before {
				scale: 1 1;
			}
		}
	}

	&__item {
		&_active {
			.menu__btn {
				background-color: #f0f7ff;
			}
			.menu__icon {
				stroke: var(--primary);
			}
			.menu__link {
				color: var(--primary);
			}
		}
	}

	&__icon,
	&__link {
		position: relative;
		z-index: 1;
	}

	&__icon {
		width: 30px;
		height: 30px;
		stroke: var(--unactive);
		stroke-width: 2;
		stroke-linecap: round;
		stroke-linejoin: round;
		transition: stroke 0.3s ease-in-out;
		flex-shrink: 0;
	}

	&__link {
		color: var(--unactive);

		font-size: 14px;
		font-weight: 700;
		transition: color 0.3s ease-in-out;
		user-select: none;
	}
}
