<nav>
	<ul class="menu list-reset">
		<li class="menu__item menu__item_active">
			<svg class="menu__icon">
				<use href="./assets/img/svg/sprite.svg#overview"></use>
			</svg>
			<span class="menu__link">Overview</span>
		</li>
		<li class="menu__item">
			<svg class="menu__icon">
				<use href="./assets/img/svg/sprite.svg#burger"></use>
			</svg>
			<span class="menu__link">Transactions</span>
		</li>
		<li class="menu__item">
			<svg class="menu__icon">
				<use href="./assets/img/svg/sprite.svg#card"></use>
			</svg>
			<span class="menu__link">Cards</span>
		</li>
		<li class="menu__item">
			<svg class="menu__icon">
				<use href="./assets/img/svg/sprite.svg#file"></use>
			</svg>
			<span class="menu__link">Invoices</span>
		</li>
		<li class="menu__item">
			<svg class="menu__icon">
				<use href="./assets/img/svg/sprite.svg#award"></use>
			</svg>
			<span class="menu__link">Goals</span>
		</li>
		<li class="menu__item">
			<svg class="menu__icon">
				<use href="./assets/img/svg/sprite.svg#settings"></use>
			</svg>
			<span class="menu__link">Settings</span>
		</li>
	</ul>
</nav>
