<nav>
	<ul class="menu list-reset">
		<li class="menu__item">
			<button class="menu__btn btn-reset">
				<svg class="menu__icon">
					<use href="./assets/img/svg/sprite.svg#overview"></use>
				</svg>
				<span class="menu__link">Overview</span>
			</button>
		</li>
		<li class="menu__item">
			<button class="menu__btn btn-reset">
				<svg class="menu__icon">
					<use href="./assets/img/svg/sprite.svg#burger"></use>
				</svg>
				<span class="menu__link">Transactions</span>
			</button>
		</li>
		<li class="menu__item">
			<button class="menu__btn btn-reset">
				<svg class="menu__icon">
					<use href="./assets/img/svg/sprite.svg#card"></use>
				</svg>
				<span class="menu__link">Cards</span>
			</button>
		</li>
		<li class="menu__item">
			<button class="menu__btn btn-reset">
				<svg class="menu__icon">
					<use href="./assets/img/svg/sprite.svg#file"></use>
				</svg>
				<span class="menu__link">Invoices</span>
			</button>
		</li>
		<li class="menu__item">
			<button class="menu__btn btn-reset">
				<svg class="menu__icon">
					<use href="./assets/img/svg/sprite.svg#award"></use>
				</svg>
				<span class="menu__link">Goals</span>
			</button>
		</li>
		<li class="menu__item">
			<button class="menu__btn btn-reset">
				<svg class="menu__icon">
					<use href="./assets/img/svg/sprite.svg#settings"></use>
				</svg>
				<span class="menu__link">Settings</span>
			</button>
		</li>
	</ul>
</nav>
