<section class="stats">
	<h3 class="stats__title">Outcome Statistics</h3>
	<div class="stats__list">
		<div class="stats__item">
			<div class="stats__icon-wrapper stats__icon-wrapper_color_orange">
				<svg class="stats__icon stats__icon_color_orange">
					<use href="./assets/img/svg/sprite.svg#cart"></use>
				</svg>
			</div>
			<div class="stats__progress">
				<div data-value="52" class="progressbar progressbar_color_orange">
					<div class="progressbar__value"></div>
				</div>
				<div class="stats__progress-value">Shoppping</div>
			</div>
			<div class="stats__percent">52%</div>
		</div>
		<div class="stats__item">
			<div class="stats__icon-wrapper stats__icon-wrapper_color_green">
				<svg class="stats__icon stats__icon_color_green">
					<use href="./assets/img/svg/sprite.svg#bus"></use>
				</svg>
			</div>
			<div class="stats__progress">
				<div data-value="21" class="progressbar progressbar_color_green">
					<div class="progressbar__value"></div>
				</div>
				<div class="stats__progress-value">Electronics</div>
			</div>
			<div class="stats__percent">21%</div>
		</div>
		<div class="stats__item">
			<div class="stats__icon-wrapper stats__icon-wrapper_color_blue">
				<svg class="stats__icon">
					<use href="./assets/img/svg/sprite.svg#airplane"></use>
				</svg>
			</div>
			<div class="stats__progress">
				<div data-value="74" class="progressbar progressbar_color_blue">
					<div class="progressbar__value"></div>
				</div>
				<div class="stats__progress-value">Travels</div>
			</div>
			<div class="stats__percent">74%</div>
		</div>
	</div>
</section>
